<ion-content>
  <div padding>
    <button *ngIf="on_background" [disabled]="status_delivery != 0" (click)="finish()" ion-button color="danger">Terminar</button>
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let item of deliveries">
        <div class="info-deliver">
          <div>Pick: {{ item.pick.name }}</div>
          <div>{{ item.pick.address }}</div>
          <div>Deliver: {{ item.deliver.name }}</div>
          <div>{{ item.deliver.address }}</div>
          <div>{{ item.created_at | date }}</div>
        </div>
        <div class="buttons">
          <button *ngIf="status_delivery == 0" (click)="changeStatus(0)" ion-button>Aceptar</button>
          <button *ngIf="status_delivery == 1" (click)="changeStatus(1)" ion-button>Recogido</button>
          <button *ngIf="status_delivery > 0 && has_phone" (click)="call_number()" ion-button>Llamar</button>
          <button *ngIf="status_delivery == 2" (click)="changeStatus(2)" ion-button>Entregado</button>
          <button *ngIf="status_delivery > 0" (click)="cancelDelivery()" ion-button color="danger">Cancelado</button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div #map id="map" style="height:70%;"></div>
</ion-content>
