page-home {
  ion-slides{
    height: 40%;
  }
  .info-deliver{
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }
  .buttons{
    display: inline-block;
    vertical-align: top;
  }
}
